#   Archivos para ignorar

/Server_Nodejs/node_modules
/Server_Nodejs/package-lock.json
/Server_Nodejs/usuario.json
/Server_Nodejs/logs.json
/Server_Nodejs/bots/tokenBot.json
/Server_Nodejs/config/conexion_bd.config.js
/Server_Nodejs/usuarios_telegram.json
/Server_Nodejs/registroLogs.txt